.brand{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0f81ec;
    color: #ffffff;
    font-size: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Brush Script MT" !important;
    padding: 10px;
}
.totalTime{
    margin-top: -8px;
    position: absolute;
    top: 150px;
    left: 900px;
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    padding: 10px;
    border: solid #0f81ec 2px;
    border-radius: 10px;
}
.totalTime p{
    margin-top: 5px;
    color: #0f81ec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.totalTime label{
    color: #0f81ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.goButton{
    position: absolute;
    top: 300px;
    left: 900px;
    width: 325px;
    height: 100px;
    background-color: #0f81ec;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
}
.point{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #0f81ec;
    border-width: 2px;
    border-radius: 10px;
}
.pointTime{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    border-color: #0f81ec;
    border-width: 2px;
    border-radius: 10px;
}
.addPoint{
    margin-left: 50px;
    width: 100px;
    height: 50px;
    background-color: #0f81ec;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
}
.goLink{
    color: #ffffff;
}
.talkingPoints h1{
    color: #0f81ec;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
body{
    background-color: #f5f5f5;
}