.brand{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #0f81ec;
  color: #ffffff;
  font-size: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Brush Script MT" !important;
  padding: 10px;
}
.review-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .transcript {
    position: sticky;
    font-size: 16px;
    font-weight: bold;
    margin-top:10px;
    margin-left: 10px;
  }
  .homeButton{
    position: fixed;
    top: 70px;
    right: 20px;
    width: 250px;
    height: 100px;
     background-color: #0f81ec;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
  }
  .speech-review {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
  }
  
  .speech-review li {
    font-size: 14px;
    font-style: italic;
    color: #555;
    padding: 5px 0;
  }
  
  body{
    background-color: #f5f5f5;
}